.text {
  color: #000;
  font-weight: bold;
}

button {
  height: 1rem;
  width: 2rem;
  background-color: #222;
}

body {
  background-color: bisque;
}

.carousel-item {
  text-align: center !important;
}